<div class="events">
    <div class="type"> DEI Events </div>
    <div class="workshops">
        <p>TBD</p>
    </div>
    <div class="type"> Doctoral Symposium </div>
    <div class="workshops">
        <p>TBD</p>
    </div>
    <div class="type"> Pre-Conference Workshops & Tutorials (October 14th, 2024) </div>
    <div class="workshops">
        <a href="https://ricssworkshop.github.io/">
            <h2>RICSS</h2>
        </a>
        <p>Workshop on Re-design Industrial Control Systems with Security</p>
        <p>October 14th, 2024</p>
    </div>
    <div class="workshops">
        <a href="https://publish.illinois.edu/healthsec/">
            <h2>HealthSec</h2>
        </a>
        <p>Cybersecurity in Healthcare</p>
        <p>October 14th, 2024</p>
    </div>
    <div class="workshops">
        <a href="https://cseapps.case.edu/wpes2024/index.html">
            <h2>WPES</h2>
        </a>
        <p>Workshop on Privacy in the Electronic Society </p>
        <p>October 14th, 2024</p>
    </div>

    <div class="type"> Post-Conference Workshops & Tutorials (October 18th, 2024) </div>
    <div class="workshops">
        <a href="https://cpsiotsec2024.github.io/">
            <h2>CPSIoTSec</h2>
        </a>
        <p>Workshop on
            CPS & IoT Security and Privacy</p>
        <p>October 18th, 2024</p>
    </div>
    <div class="workshops">
        <a href="https://checkmate-workshop.github.io/">
            <h2>CheckMATE</h2>
        </a>
        <p>Research on offensive and defensive techniques in the context of Man At The End (MATE) attacks</p>
        <p>TBD</p>
    </div>
</div>