<!-- Footer -->

<!-- <hr> -->

<footer>
  <div class="container">
    <div class="row" >
      <div class="half_row">
      <h2 class="title">About ACM CCS</h2>
      <p>
        The ACM Conference on Computer and Communications Security (CCS) is the <span class="emphasis">flagship annual conference</span> of the Special Interest Group on Security, Audit and Control (SIGSAC) of the Association for Computing Machinery (ACM). The conference brings together information security researchers, practitioners, developers, and users from all over the world to explore cutting-edge ideas and results.</p>
      <p>
        CCS will follow the <span class="emphasis" >ACM Policy Against Harassment at ACM Activities</span>. Please familiarize yourself with <a class="emphasis" href="https://www.acm.org/special-interest-groups/volunteer-resources/officers-manual/policy-against-discrimination-and-harassment">the ACM Policy Against Harassment</a> and <a class="emphasis" href="https://www.acm.org/about-acm/reporting-unacceptable-behavior">guide to Reporting Unacceptable Behavior</a>.
      </p>
      </div>
      <div class="half_row" style="height:400px;width:400px;overflow-y:auto;float:left;" >
        {% twitter https://twitter.com/acm_ccs maxwidth=400  limit=5 %}

      </div>
    </div>

    <p class="copyright"> © 2023-2024 ACM/SIGSAC. All Rights Reserved.</p>
  </div>
</footer>
