<!-- Navigation -->
<nav class="navbar fixed-top" id="nav-menu-container">
    <ul class="nav-menu " >
      {% assign links = site.navbar %}
      {% for link in links %}
          {% assign class = nil %}
          {% if page.url contains link.url %}
            {% assign class = ' active' %}
          {% endif %}
          {% if link.sublinks %}

          <li class="menu-has-children{{ class }}">
            <a class="sf-with-ul" >{{ link.title }} </a>
                  <ul class="">
                      {% for sublink in link.sublinks %}
                          {% if sublink.subtitle == 'separator' %}
                              <li role="separator" class="divider"></li>
                          {% else %}
                              <li>
                                  <a class="nav-link"  href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.subtitle }}<span class="caret"></span></a>
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
              </li>
          {% else %}
          <li class="nav-item {{ class }}">
            <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
              </li>
          {% endif %}
      {% endfor %}
  </ul>
</nav>
