---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('img/bg-index.jpg');height:700px;">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <img src="img/CCS-logo.png" alt="Italian Trulli" width="200">
            <h1 style="color:#F0F8FF;">{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.date }}</span>
            <span class="subheading">{{ site.position }}</span>
            <span class="subheading"><a href="https://whova.com/portal/acmcc_202211/?source=btn_link" title="Event management software" id="whova-buttonlink" target="_blank" style="margin: 20px; background-color:#2DACEE; padding:5px; border-radius:5px; color:#fff; font-size:16px"/>Get Whova Now</a></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container" style="max-width: 100%;">
    <div class="row">
    <div class="col-xs-5 col-sm-10 col-lg-12">
            {{ content }}
      </div>
    </div>
  </div>
