---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('img/bg-index.jpg');height:700px;">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <img src="img/CCS-logo.png" alt="Italian Trulli" width="200">

            <h1 style="color:#F0F8FF;">{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.date }}</span>
            <span class="subheading">{{ site.position }}</span>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container" style="margin-bottom:40px">
    <div class="newsTitle">
      <h2>Last Updates </h2>
    </div>
    <div class="row" style="margin:0 20px 0 20px">

      <div class="news" >
	    <ul>
		<li><b>April 26, 2022</b>:
                  The <a href="https://ccs2022b.hotcrp.com/">submission website</a> for the second cycle is now open!</li>
		<li><b>March 18, 2022</b>:
                  The deadline of <a href="call-for-workshops.html">Call for workshops</a> is extended to March 25.</li>
		<li><b>February 25, 2022</b>:
                  <a href="call-for-sponsorship.html">Call for sponsorship</a> is available now.</li>
		<li><b>February 17, 2022</b>:
                  <a href="call-for-workshops.html">Call for workshops</a> is available now.</li>
		<li><b>January 7, 2022</b>:
                  The <a href="https://ccs2022a.hotcrp.com/">submission website</a> is now open!</li>
		<li><b>January 5, 2022</b>:
                  The <a href="program-committee.html">program committee</a> is now listed.</li>
		<li><b>December 20, 2021</b>:
                  <a href="call-for-papers.html">Call for papers</a> is available now.</li>
		<li><b>December 7, 2021</b>: Submission deadlines for ACM CCS 2022 are
           <a style="color:red;text-decoration: none;">January 14, 2022</a> and <a style="color:red;text-decoration: none;">May 2, 2022</a>.</li>

        <li><b>November 13, 2021</b>: Please submit the ACM CCS 2022 <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9XDpJMFyQlDdnLLJ1hZockaOid3W8QjLWf4gYn_vZeygPFw/viewform" style="color:red;text-decoration: none;">PC Nomination Form</a>. </li>
		</ul>
      </div>


    </div>
  </div>


<section id="supporters" class="section-with-bg wow animated" style="visibility: visible;">
  <section id="sponsors">

    <div class="container">
      <div class="section-header">
        <h2>Sponsors</h2>
      </div>
      <p>CCS 2024 is sponsored by the following organizations</p>

      <p2 style="color:#0000A0;"><b>Diamond Patrons</b></p2>
      <div class="row no-gutters clearfix">

      </div>
      <br>

      <p2 style="color:#878785;"><b>Platinum Patrons</b></p2>
      <div class="row no-gutters clearfix">

      </div>
      <br>
      <!--
      <p2 style="color:#878785;">Platinum Patrons</p2>
      <div class="row no-gutters clearfix">
      </div>
      <br>
      -->

      <p4 style="color:#D4AF37;">Gold Patrons</p4>
      <div class="row no-gutters clearfix">
        <div class="col-lg-3 col-md-3 col-xs-3" style="  display: block;
        border-top: 1px solid #e0e5fa; border-left: 1px solid #e0e5fa;">
          <!--<div class="supporter-logo">-->
		  <div>
            <a href="https://chainlinklabs.com/" target="_blank">
              <img src="img/sponsors/chainlink.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3" style="border-top: 1px solid #e0e5fa; border-left: 1px solid #e0e5fa;">
          <!--<div class="supporter-logo">-->
		  <div>
            <a href="https://ibm.com" target="_blank">
              <img src="img/sponsors/ibm.jpg" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3" style="border-top: 1px solid #e0e5fa; border-left: 1px solid #e0e5fa;">
          <!--<div class="supporter-logo">-->
		  <div>
            <a href="https://meta.com/" target="_blank">
              <img src="img/sponsors/meta.jpg" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
      </div>

      <p4 style="color:#757575;">Silver Patrons
      <div class="row no-gutters clearfix">
        <div class="col-lg-3 col-md-3 col-xs-3" style="border-top: 1px solid #e0e5fa; border-left: 1px solid #e0e5fa;">
          <div>
            <a href="https://iohk.io/" target="_blank">
              <img src="img/sponsors/iohk.png" style="width:300px;object-fit: contain" alt="">
            </a>
          </div>
        </div>
      </div>
      <br>

      <p4 style="color:#CD7F32;">Bronze Patrons</p4>
      <div class="row no-gutters clearfix">

      </div>
  </div>
</section>
  </section>
